
<div class="with-top-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Header -->
		<header id="header">
	  
			<!-- start Navbar (Header) -->
			<nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">
				
				<div id="top-header">
			
					<div class="container">
					
						<div class="row">
						
							<div class="col-xs-12 col-sm-6 clearfix">
								
								
								<div class="top-header-widget welcome">
									<p>Welcome | <a routerLink="" routerLinkActive="active">Back To Home</a>
									</p>
								</div>
							
							</div>
							
							<div class="col-sm-6 clearfix hidden-xs">

								<div class="top-header-widget pull-right">
									<!-- <a href="#">
										<i class="fa fa-comments mr-3"></i> Get quote 
									</a> -->
								</div>
								<div class="top-header-widget pull-right">
									<i class="fa fa-phone"></i> call us: 09069317298								
								</div>

							</div>
							
						</div>
					
					</div>
					
				</div>

				<div class="container">
						
					<div class="navbar-header">
						<a class="navbar-brand"><strong class="text-primary">AUTIONS</strong>ng</a>
					</div>
						
					<div id="navbar" class="collapse navbar-collapse navbar-arrow pull-left">
					
						<!-- SEARCH -->
						<!-- <div id="search-container">
							<form id="search-form" name="search-form" method="get" action="#">
								<fieldset>
									<input type="search" name="search" placeholder="Enter your keyword here and then press enter...">
								</fieldset>
							</form>
						</div>search-container -->
						
						<!-- <a class="search-button" href="#"></a> -->
						
						<ul class="nav navbar-nav" id="responsive-menu">
							<li>
								<a routerLink="" routerLinkActive="active">Home</a>
							</li>
							<!-- <li><a [ngx-scroll-to]="'#aboutus'">About Us</a></li> -->
							<!-- <li> -->
								<!-- <a [ngx-scroll-to]="'#ourcontact'">Our Contacts</a></li> -->
							<!-- <li><a [ngx-scroll-to]="'#ourservices'">FAQs</a></li> -->
							<!-- <li><a [ngx-scroll-to]="'#products'">Products</a></li> -->
							<!-- <li><a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Login</a></li> -->
							<!-- <li><a data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Register</a></li> -->
							<!-- <li><a (click)='removeShowAuctionButton2=!removeShowAuctionButton2'>Ongoing Auctions</a></li>
							<li><a class="error" *ngIf='removeShowAuctionButton2'>{{this.removeShowAuctionButton3}}</a></li>
 -->
						</ul>
						
					</div><!--/.nav-collapse -->

				</div>
				
				<div id="slicknav-mobile"></div>
				
			</nav>
			<!-- end Navbar (Header) -->

    </header>

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<div class="breadcrumb-wrapper">
			
				<div class="container">

					<div class="row">
					
						<div class="col-xs-12 col-sm-6 hidden-xs">
							<h2 class="page-title">Frequently asked questions</h2>
						</div>
						
						<div class="col-xs-12 col-sm-6">
							<ol class="breadcrumb">
								<li class="active text">You Are Here:</li>
								<li><a routerLink="" routerLinkActive="active">Home</a></li>
								<li class="active">Frequently asked questions</li>
							</ol>
						</div>

					</div>
					
				</div>

			</div>
		
			<div class="container-outer">
			
				<div class="container pt-70 pb-70">
				
					<div class="row">
				
						<div class="col-sm-12 col-md-10 col-md-offset-1">
						
							<div class="faq-wrapper faq-border">
							
								<div id='faq' class="faq-section">
							
									<div class="panel-group bootstarp-accordion" id="accordion" role="tablist" aria-multiselectable="true">
									
										<div class="panel">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo">What is AuctionNG?</a>
												</h4>
											</div>
											<div id='collapseOne' class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body">
													<div class="faq-thread">
														<p><span class=""><h5>Auctions.ng</h5></span> is a web platform that gives you the oppurtunity to own some of you most wanted valued properties through an online bidding platform. Our processes are thoroughly smooth and seamless, and with our 15-plus years experience in the IT industry, we guarantee you  a perfect bidding experience!</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

										<div class="panel">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How does this platform work?</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
												<div class="panel-body">
													<div class="faq-thread">
														<h5>Step 1: REGISTER OR LOGIN ON PLATFORM</h5>
														 <p>To participate, register with us, then view the details of any product of your choice, nothing the date and time that its auction will take place</p>

														<ul>
															<h5>Step 2:JOIN ONGOING AUCTIONS</h5>
															<li>On Login you can view and then join any any ongoing auction to place your bids</li>
															
														</ul>

														<ul>
															<h5>Step 3:RECIEVE EMAIL NOTIFICATION</h5>
															<li>If you win an auction, you will recieve an email notification on the details of your win and the process of retrieval</li>
															
														</ul>
														
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

										<div class="panel">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Why use Auctions.ng?</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													<div class="faq-thread">
														<h5>1: Trusted By Millions</h5>
													<p>Our current registered users stand at 35,000 with an average rating of 4.7</p>
														<h5>2: Wide Range Of Products</h5>
													<p>Our product cut across all needs and functions.</p>
													<h5>3: Professional Dealers</h5>
													<p>Our trusworthiness is built from our high level of professionalism, acqiured over the years.</p>
													<h5>4: FAA Acreditation</h5>
													<p>We have a 5.0 accreditation from the International Auctions Association, another reason for you to transact with us!</p>
																												
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

										<div class="panel">
											<div class="panel-heading" role="tab" id="headingFour">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Is it free to use?</a>
												</h4>
											</div>
											<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
												<div class="panel-body">
													<div class="faq-thread">
														<p>The platform itself is free to use for all.
														 The basic requirements are avaliable email address. Also you must have a clean and verifyable credit line from the National Auctions Agency (NAA) of no previous defalt on payment</p>														
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->
										
										<div class="panel">
											<div class="panel-heading" role="tab" id="headingFive">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">Can I use My Auctions Porduct for other commercial purposes including reselling?</a>
												</h4>
											</div>
											<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
												<div class="panel-body">
													<div class="faq-thread">
														<p>After you have been notified by mail and payments verified, the product is confirmed legally yours. Hence all legal commercial processess can be performed with the product</p>
													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->
																				
										<div class="panel">
											<div class="panel-heading" role="tab" id="headingSeven">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">How do I create an account?</a>
												</h4>
											</div>
											<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
												<div class="panel-body">
													<div class="faq-thread">
														<p>On the home page, click on register and fill in your details.</p>

													</div>
												</div>
											</div>
										</div>
										<!-- end of panel -->

									</div>
									<!-- end of #accordion -->

								</div>
								
							</div>
							
							<div class="call-to-action mt-50">
									
								Can't find a question you wanted? 
								<!-- <a href="#" class="btn btn-primary btn-sm btn-inverse">Contact Us</a> --> Contact us through phone or e-mail for your privilege question.
							
							</div>
							
						</div>
						
					</div>

				</div>
				
			</div>
			
		</div>
		
    <div class="footer-wrapper scrollspy-footer" id='ourcontact'>

			<footer class="main-footer">
								
				<div class="container">
						
					<div class="row">
					
						<div class="col-xs-12 col-sm-12 col-md-3 mb-30-sm">
						
							<div class="footer-logo">
								<a><strong class="text-primary">AUCTION</strong>ng</a>
							</div>
							
							<p class="about-us-footer">Our trusworthiness is built from our high level of professionalism, acquired over the years.<!-- <a [ngx-scroll-to]="'#aboutus'" class="font-italic">read more</a> -->
							</p>
							
							<div class="social-footer clearfix">
								<!-- <a href="#"><i class="fa fa-facebook-official"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus "></i></a>
								<a href="#"><i class="fa fa-codepen"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
								<a href="#"><i class="fa fa-jsfiddle"></i></a> -->
							</div>
						
						</div>
						
						<div class="col-xs-12 col-sm-12 col-md-3 mb-30-sm">
							
							<h4 class="footer-title">Quick Menu</h4>
							
							<ul class="menu-footer">
								<li><a [ngx-scroll-to]="'#aboutus'">About Us</a></li>
								<!-- <li><a href="#">Partners</a></li> -->
								<!-- <li><a href="#">Terms</a></li> -->
								<!-- <li><a href="#">Privacy Policy</a></li> -->
								<li><a [ngx-scroll-to]="'#faq'">FAQ</a></li>
								<!-- <li><a href="#">FAQ</a></li> -->
								<!-- <li><a href="#">Press</a></li> -->
								<!-- <li><a href="#">Contact</a></li> -->
							</ul>
						
						</div>
						
						<div class="sm-clear"></div>
						
						<div class="col-xs-12 col-sm-12 col-md-3  mb-30-sm">
							
							<h4 class="footer-title">Office Hours</h4>
							
							<ul class="office-hour">
								<li >
									Monday - Friday
									<span>08:00 - 19:00</span>
								</li>
								<li >
									Saturday
									<span>08:00 - 14:30</span>
								</li>
								<li class="text-primary">
									Sunday
									<span>Closed</span>
								</li>
							</ul>


							
						</div>
						
						<div class="col-sm-12 col-md-3">

							<h4 class="footer-title">Address</h4>
							<p class="footer-address">4, ASSBFFI Road, Alausa, Ikeja, Lagos, Nigeria<br /><span class="block text-white font20 font700 line20 mt-10 mb-5">+234-90693178</span>support@auction.ng.com</p>
						
						</div>
						
					</div>
					
				</div>
				
			</footer>
			
			<footer class="secondary-footer">
			
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-6">
							<p class="copy-right">&#169; Copyright 2016 AUCTION.ng</p>
						</div>
						
						<div class="col-sm-6">
							<ul class="secondary-footer-menu clearfix">
								<li><a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Sign-in</a></li>
								<li><a href="" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Sign-up</a></li>
								<!-- <li><a href="#">Sign-up</a></li> -->
							</ul>
						</div>
						
					</div>
				
				</div>
				
			</footer>
			
		</div>
		<!-- end footer-wrapper -->
		
		
 </div> <!-- / .wrapper -->
	<!-- end Container Wrapper -->
 
 

 <!-- start Back To Top -->
<div id="back-to-top">
   <a href="#"><i class="ion-ios-arrow-up"></i></a>
</div>
<!-- end Back To Top -->


</div>