
<div class="with-top-header">

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Header -->
		<header id="header">
	  
			<!-- start Navbar (Header) -->
			<nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">
				
				<div id="top-header">
			
					<div class="container">
					
						<div class="row">
						
							<div class="col-xs-12 col-sm-6 clearfix">
								
								
								<div class="top-header-widget welcome">
									<p>Welcome Admin</p>
								</div>
							
							</div>
							
							<div class="col-sm-6 clearfix hidden-xs">

								<div class="top-header-widget pull-right">
									<a routerLink="../adminauctionstable" routerLinkActive="active">
										<i class="mr-3"></i> All Auctions
									</a>
								</div>
								<div class="top-header-widget pull-right">
									<a routerLink="../adminuserstable" routerLinkActive="active">
									<i class=""></i> All Users
									</a>
								</div>

							</div>
							
						</div>
					
					</div>
					
				</div>

				<div class="container">
						
					<div class="navbar-header">
						<a class="navbar-brand" href="index.html"><strong class="text-primary">AUCTION</strong>ng</a>
					</div>
						
					<div id="navbar" class="collapse navbar-collapse navbar-arrow pull-left">
					
						<!-- SEARCH -->
						<div id="search-container">
							<form id="search-form" name="search-form" method="get" action="#">
								<fieldset>
									<input type="search" name="search" placeholder="Enter your keyword here and then press enter...">
								</fieldset>
							</form>
						</div><!-- search-container -->
						
						<a class="search-button" href="#"></a>
						
						<ul class="nav navbar-nav" id="responsive-menu">
							<li>
								<a routerLink="../adminauctionstable" routerLinkActive="active">MANAGE AUCTIONS</a>
							</li>
							<li class="active">
								<a routerLink="../adminproductstable" routerLinkActive="active">MANAGE PRODUCTS</a>
							<li>
							<!-- <li>
								<a href="review.html">MANAGE AUCTIONS</a>
							</li>
							<li>
								<a href="blog.html">MANAGE BIDS</a>
							</li> -->
						</ul>
						
					</div><!--/.nav-collapse -->

				</div>
				
				<div id="slicknav-mobile"></div>
				
			</nav>
			<!-- end Navbar (Header) -->

		</header>

		<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">
		
			<div class="breadcrumb-wrapper">
			
				<div class="container">

					<div class="row">
					
						<div class="col-xs-12 col-sm-6 hidden-xs">
							<h2 class="page-title">All Products</h2>
						</div>
						
						<div class="col-xs-12 col-sm-6">
							<ol class="breadcrumb">
								<li class="active text">You Are Here:</li>
								<li><a href="#">Home</a></li>
								<li class="active">Details Page</li>
							</ol>
						</div>

					</div>
					
				</div>

      </div>
      <br><br>
    <div class="container">
      <div class="tab-style-1-header clearfix">
        <!-- <ul id="detailTab" class="tab-nav clearfix mb-10-xss"> -->
		  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">ADD NEW PRODUCT</button>
          <li class="active"><a href="#detailTab1"></a></li>
          <!-- <li><a href="#detailTab2" data-toggle="tab">Interior</a></li> -->
        <!-- </ul><span class="pull-right">Minimum Amount : &#8358; {{minimumBidAmount|number}}</span> -->
        <!-- <a data-toggle="modal" href="#enquiryModal" class="btn btn-info pull-right pull-left-xss">Enquiry Now</a> -->
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            <label class="au-checkbox">
            <input type="checkbox">
            <span class="au-checkmark"></span>
            </label>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Product Code</th>
          <th scope="col">Auction Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let product of allProductsss; let i = index">
			<td>{{i+1}}</td>
			<td>{{product?.productname | titlecase}}</td>
			<td>{{product?.productcode}}</td>
			<td>{{product?.auctiondate}}</td>
			<td>
				<div class="table-data-feature">
				<a routerLink="../adminproductdetails/{{product?._id}}" routerLinkActive="active">
				<button class="btn btn-sm btn-info mr-3" data-toggle="tooltip" data-placement="top" title="" data-original-title="Send"><i class="fa fa-eye"> </i></button></a>

				<!-- <a routerLink="../admineditproducts/{{product?._id}}" routerLinkActive="active"> -->
				<button class="btn btn-sm btn-success mr-3" data-toggle="modal" data-target="#exampleModaleditProduct" (click)="addId(product)" data-placement="top" title="" data-original-title="Send"><i class="fa fa-edit"></i></button>

				<!-- </a>                       -->
				<span data-toggle="tooltip" data-placement="top" title="Tooltip on top">
				<label class="switch switch-3d switch-primary mr-3">
				<input type="checkbox" class="switch-input"  [checked]="product.status" (click)="toggleAdminProduct(product)">
				<span class="switch-label"></span>
				<span class="switch-handle"></span>
				</label>
				</span>
				  
				</div>
			  </td>
		</tr>

      </tbody>
    </table>
  </div>
		
		
		<div class="footer-wrapper scrollspy-footer" id='ourcontact'>

			<footer class="main-footer">
								
				<div class="container">
						
					<div class="row">
					
						<div class="col-xs-12 col-sm-12 col-md-3 mb-30-sm">
						
							<div class="footer-logo">
								<a href="#home"><strong class="text-primary">AUCTION</strong>ng</a>
							</div>
							
							<p class="about-us-footer">Our trusworthiness is built from our high level of professionalism, acquired over the years.<a [ngx-scroll-to]="'#aboutus'" class="font-italic">read more</a></p>
							
							<div class="social-footer clearfix">
								<a href="#"><i class="fa fa-facebook-official"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<!-- <a href="#"><i class="fa fa-google-plus "></i></a>
								<a href="#"><i class="fa fa-codepen"></i></a>
								<a href="#"><i class="fa fa-behance"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
								<a href="#"><i class="fa fa-jsfiddle"></i></a> -->
							</div>
						
						</div>
						
						<div class="col-xs-12 col-sm-12 col-md-3 mb-30-sm">
							
							<h4 class="footer-title">Quick Menu</h4>
							
							<ul class="menu-footer">
								<li><a [ngx-scroll-to]="'#aboutus'">About Us</a></li>
								<!-- <li><a href="#">Partners</a></li> -->
								<!-- <li><a href="#">Terms</a></li> -->
								<!-- <li><a href="#">Privacy Policy</a></li> -->
								<li><a href="#">FAQ</a></li>
								<!-- <li><a href="#">FAQ</a></li> -->
								<!-- <li><a href="#">Press</a></li> -->
								<!-- <li><a href="#">Contact</a></li> -->
							</ul>
						
						</div>
						
						<div class="sm-clear"></div>
						
						<div class="col-xs-12 col-sm-12 col-md-3  mb-30-sm">
							
							<h4 class="footer-title">Office Hours</h4>
							
							<ul class="office-hour">
								<li >
									Monday - Friday
									<span>08:00 - 19:00</span>
								</li>
								<li >
									Saturday
									<span>08:00 - 14:30</span>
								</li>
								<li class="text-primary">
									Sunday
									<span>Closed</span>
								</li>
							</ul>


							
						</div>
						
						<div class="col-sm-12 col-md-3">

							<h4 class="footer-title">Address</h4>
							<p class="footer-address">4, ASSBFFI Road, Alausa, Ikeja, Lagos, Nigeria<br /><span class="block text-white font20 font700 line20 mt-10 mb-5">+234-90693178</span>support@auction.ng.com</p>
						
						</div>
						
					</div>
					
				</div>
				
			</footer>
			
			<footer class="secondary-footer">
			
				<div class="container">
				
					<div class="row">
					
						<div class="col-sm-6">
							<p class="copy-right">&#169; Copyright 2016 AUCTION.ng</p>
						</div>
						
						<div class="col-sm-6">
							<ul class="secondary-footer-menu clearfix">
								<li><a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Sign-in</a></li>
								<li><a href="" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Sign-up</a></li>
								<!-- <li><a href="#">Sign-up</a></li> -->
							</ul>
						</div>
						
					</div>
				
				</div>
				
			</footer>
			
		</div>
		<!-- end footer-wrapper -->
		
		
	</div> <!-- / .wrapper -->
  <!-- end Container Wrapper -->
   <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe1" aria-hidden="true">
	<div class="modal-dialog" role="document">
			<h5>{{product?.productname}}</h5>
			<form [formGroup]="productsForm" (ngSubmit)="onSubmitproductsForm()">
	  <div class="modal-content">
			  <div class="modal-header">
					  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					  <h4 class="modal-title text-center">Add a New Product</h4>
				  </div>
		
				  <div class="modal-body">
				
						<div class="row gap-20">
								
							
							
							<div class="col-sm-12 col-md-12">
					
								<div class="form-group"> 
									<label>Product Name</label>
									<input class="form-control" placeholder="Enter Product Name" formControlName="productname" type="text"> 
								</div>
							
							</div>

							<div class="col-sm-12 col-md-12">
					
									<div class="form-group"> 
										<label>Product Code</label>
										<input class="form-control" formControlName="productcode" placeholder="Enter product code"> 
									</div>
								
								</div>
							
							<div class="col-sm-12 col-md-12">
					
								<div class="form-group"> 
									<label>Minimum Auction Price</label>
									<input class="form-control" placeholder="Enter Minimum Auction Price" formControlName="minauctionprice"> 
								</div>
							
							</div>
							
							<div class="col-sm-12 col-md-12">
							
								<div class="form-group"> 
									<label>Product Url</label>
									<input class="form-control" placeholder="Enter Product Url" value={{downloadURL}} formControlName="productimage"> 
								</div>
							
							</div>
							
							<div class="col-sm-12 col-md-12">
							
								<div class="form-group"> 
									<label>Product Image</label>
									<input class="" type="file" (change)="upload($event)" accept=".png,.jpg" placeholder="" > 
								</div>
							
							</div>

							<div class="col-sm-12 col-md-12">
								<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
									File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
								</div>
								<div class="btn-group" role="group" *ngIf="uploadState | async; let state">
									<button type="button" class="btn btn-primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
									<button type="button" class="btn btn-primary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
									<button type="button" class="btn btn-primary" (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
								</div>
								<br>
								<hr>
								
								</div>
														
						</div>
					
					</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="submit" class="btn btn-primary">Add New Product</button>
		</div>
	  </div>
	</form>
	</div>
  </div>

  <div class="modal fade" id="exampleModaleditProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabe1" aria-hidden="true">
		<div class="modal-dialog" role="document">
				
				<form [formGroup]="editProductsForm" (ngSubmit)="saveEditedProduct()">
		  <div class="modal-content">
				  <div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						  <h4 class="modal-title text-center">Edit This Product</h4>
						  <h5>Edit {{productToEdit?.productname}}</h5>
						  
					  </div>
			
					  <div class="modal-body">
					
							<div class="row gap-20">
								
									<div class="col-sm-12 col-md-12">
						
											<div class="form-group"> 
												<input class="form-control" placeholder="Enter Product Name" type="hidden" formControlName="_id"> 
											</div>
										
										</div>								
								
								<div class="col-sm-12 col-md-12">
						
									<div class="form-group"> 
										<label>Product Name</label>
										<input class="form-control" placeholder="Enter Product Name" formControlName="productname" type="text"> 
									</div>
								
								</div>
	
								<div class="col-sm-12 col-md-12">
						
										<div class="form-group"> 
											<label>Product Code</label>
											<input class="form-control" formControlName="productcode" placeholder="Enter product code"> 
										</div>
									
									</div>
								
								<div class="col-sm-12 col-md-12">
						
									<div class="form-group"> 
										<label>Minimum Auction Price</label>
										<input class="form-control" placeholder="Enter Minimum Auction Price" formControlName="minauctionprice"> 
									</div>
								
								</div>
								
								<div class="col-sm-12 col-md-12">
								
									<div class="form-group"> 
										<label>Product Url</label>
										<input class="form-control" value='' placeholder="Enter Product Url" formControlName="productimage"> 
									</div>
								
								</div>
								
								<div class="col-sm-12 col-md-12">
								
									<div class="form-group"> 
										<label>Product Image</label>
										<input class="" type="file" (change)="upload($event)" accept=".png,.jpg" placeholder="" > 
									</div>
								
								</div>
	
								<div class="col-sm-12 col-md-12">
									<div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
										File uploaded: <a [href]="downloadSrc">{{downloadSrc}}</a>
									</div>
									<div class="btn-group" role="group" *ngIf="uploadState | async; let state">
										<button type="button" class="btn btn-primary" (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
										<button type="button" class="btn btn-primary" (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
										<button type="button" class="btn btn-primary" (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
									</div>
									<br>
									<hr>
									
									</div>
															
							</div>
						
						</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			  <button type="submit" class="btn btn-primary">Update Product</button>
			</div>
		  </div>
		</form>
		</div>
  </div>
</div>